.corpo{
    width: 100%;
    background-color: white;
}
.box{
    width: 100%;
    /* height: 1300px; */
    background-color: rgba(255, 255, 255, 0.885);
    padding: 5%;
}
.linha{
    background-color: rgba(4, 4, 61, 0.349);
    width: 90%;
    height: 4px;
    margin-bottom: 3%;
    border-radius: 200px;
}
.btnMais{
    width: 30%;
    height: 10%;
    border: none;
}
.noticia_image_p{
    height: 450px; 
    background-attachment: scroll;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
}

.mini_not{
    height: 200px; 
    background-attachment: scroll;
    background-size: 100%;
    background-repeat: no-repeat;
}
/*----------------------------- DIRETORIA EXECUTIVA -------------------------*/
.box_executivo{
    background-color: rgb(226, 226, 226);
    width: 60%;
    height: 100px;
    margin-bottom: 100px;
    margin-left: 20%;
    flex-direction: column;
}

.titulo_subnoticia{
    color:rgb(17, 17, 68);
    font-size: medium;
    margin: 0;
    font-weight: bold;
}
/* .noticia_ativar :hover{
    box-shadow: black 1px 1px 1px 1px;
} */
.descricao_subnoticia{
    font-size: small;
    margin: 1%;
    text-align: justify;
}

.iclock{
    font-size: small;
    margin: 1%;
}
/*------------------------------------------------ ÁREA DE VÍDEOS ------------------------- */
.videos{
    background-color: rgba(0, 0, 53, 0.897);
    width: 100%;
    height: 280px;
    padding: 3%;
    overflow: hidden;
    flex-direction: row;
    border-radius: 5px;
}

.titulo_video{
    color: cornsilk;
    font-size: small;
    margin-top: 1%;
    text-align: justify;
    height: 70px;
}
.video_item{
    width: 190px;
    float: left;
    margin-right: 3%;

    
}

/* --------------------------------------------- ÁREA DO PARALAX --------------------- */

.parallax {
    background-image: url("assets/slides1.JPG");
    min-height: 200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

/* -------------------------------------------------------------------------------------------------------------*/

.maisinfos{
    width: 100%;
    height: 100px;
}